<!-- app.component.html -->

<div *ngFor="let character of characters">
  <h2>{{ Cristhian Martinez }}</h2>
  <p>Condicion: {{ Estudiante IC }}</p>
  <p>Genero: {{ Masculino }}</p>
  <img [src]="character.image" alt="{{ Integrante n°1 }}">

  <h2>{{ Yesica Olivera }}</h2>
  <p>Condicion: {{ Estudiante IC }}</p>
  <p>Genero: {{ Femenino }}</p>
  <img [src]="character.image" alt="{{ Integrante n°2 }}">

  <h2>{{ Karina Rivero }}</h2>
  <p>Condicion: {{ Estudiante IC }}</p>
  <p>Genero: {{ Femenino }}</p>
  <img [src]="character.image" alt="{{ Integrante n°3 }}">
</div>